<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome!</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <span class="icon is-medium">
                <i class="fas fa-home fas fa-2x"></i>
            </span>
        </a>	
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Find a repository">
                    </div>
                    <div class="control">
                        <a class="button is-info">
                        Search
                        </a>
                    </div>
                    </div>
            </div>
            {% if not loggedIn %}
            <a class="navbar-item" href="/loginForm">Sign In</a>
            {% else %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                Hello, {{firstName}}
                </a>
        
                <div class="navbar-dropdown">
                <a class="navbar-item" href="/account/orders">
                    Your orders
                </a>
                <a class="navbar-item" href="/account/profile">
                    Your profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/logout">
                    Sign Out
                </a>
                </div>
            </div>
            {% endif %}
            <a class="navbar-item" href="/cart">
                <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                <span>CART {{noOfItems}}</span>
            </a>
        </div>
    </div>
</nav>
<!-- <h1>Change password</h1>
<p>{{ msg }}</p>
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p>Old Password: <input type="password" name="oldpassword"></p>
	<p>New Password: <input type="password" name="newpassword" id="newpassword"></p>
	<p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
	<input type="submit" value="Save">
</form>
<a href="{{ url_for('profileHome') }}">Go to Profile</a>
</body> -->

<section class="section">
	<div class="container">
		<div class="column is-5-tablet is-4-desktop is-3-widescreen">
			<h2 class="subtitle">
				Change Password: 
			</h2>
			<p>{{ msg }}</p>
			<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
				<div class="field">
					<label class="label">Old Password</label>
					<div class="control">
						<input class="input" type="password" name="oldpassword">
					</div>
				</div>
				<div class="field">
					<label class="label">New password</label>
					<div class="control">
						<input class="input" type="password" name="newpassword" id="newpassword" required>
					</div>
				</div>
				<div class="field">
					<label class="label">Confirm password</label>
					<div class="control">
						<input class="input" type="password" name="cpassword" id="cpassword" required>
					</div>
				</div>
				<div class="field">
					<p class="control">
					<button class="button is-primary">
						Save
					</button>
					</p>
				</div>
				<a href="{{ url_for('profileHome') }}">Go back to Profile</a>
			</form>
		</div>
	</div>
</section>
</body>
</html>


